# Eclipse
.project
.pydevproject

# Logs
logs/*
*.log

# Mind Files
*.mind
*.mind.gz
sample.mind
sample.mind.gz

# Data Directory
data/
data/*.*

# Compiled Python
*.pyc
build/

# Environment
.env/
*.ffs_db
cortex/gui/gui_client/sync.ffs_db
cortex/gui/gui_client/sync.ffs_db

# Test Mind Files
!example.mind
!example.mind.gz
!example42.mind
!example42.mind.gz
!example100.mind
!example100.mind.gz
