# Eclipse
.project
.pydevproject

# Mind Files
*.mind
*.mind.gz
sample.mind
sample.mind.gz
cortex/sample.mind

# Data Directory
data/
data/*.*

# Logs Directory
logs/

# Compiled Python
*.pyc
build/

# Environment
.env/
