
.wrapper {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-columns: auto auto 300px 600px 300px auto auto;
  grid-template-rows: auto auto 300px 300px 300px auto auto;
}

.child_item_1 {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 3;
}
.child_item_2 {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 3;
}

.child_item_3 {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 5;
}
.child_item_4 {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 5;
  grid-column-end: 5;
}

.child_item_5 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 4;
}

.child_item_6 {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 4;
  grid-column-end: 4;
}
